server.port: 5000

spring:
  datasource:
    tomcat:
      initial-size: 5
      time-between-eviction-runs-millis: 5000
      min-evictable-idle-time-millis: 5000
      min-idle: 5
      max-idle: 10
      max-active: 10
      remove-abandoned: true
      validation-query: select 1
      test-while-idle: true
      test-on-connect: false
      default-auto-commit: false
  jpa:
    hibernate.ddl-auto: none
    properties.hibernate.temp.use_jdbc_metadata_defaults: false
    properties.hibernate.dialect: org.hibernate.dialect.PostgreSQL94Dialect
liquibase:
  change-log: classpath:db-master-changelog.xml

logging.graylog.host: ""

springfox.documentation.swagger.v2.path: /api-docs


---

spring.profiles: junit

spring.jpa:
  show-sql: true


---

spring.profiles: dev

service: ndla-taxonomy-dev

---
spring.profiles: staging

auth0:
  issuer: https://ndla-staging.eu.auth0.com/
  jwks.kid: NDFFOTUxMjQ1ODNDMTlBRkE0RkQ4NDc0RjUxNjUxREE0MTUyQTQ3NQ

service: ndla-taxonomy-staging

---
spring.profiles: prod

auth0:
  issuer: https://ndla.eu.auth0.com/
  jwks.kid: OEI1MUU4ODk5NzM5MzI2MzZDODk1N0YwQzdDMDQyODVCQzQ3QTI0MA

service: ndla-taxonomy-prod

---
spring.profiles: test

auth0:
  issuer: https://ndla-test.eu.auth0.com/
  jwks.kid: QzlEOTQ5M0NGMDk4NjExOEJGMjc2MjVFODhEQkE1NUI2NkE0RTQyRg

service: ndla-taxonomy-test

---
spring.profiles: brukertest

service: ndla-taxonomy-brukertest
