server.port: 5000
graph:
  url: remote:example.com/database-name
  username: username
  password: secret

spring.datasource:
  url: jdbc:h2:mem:test;MODE=PostgreSQL;DB_CLOSE_ON_EXIT=FALSE;DB_CLOSE_DELAY=-1
  username: sa
  password:


springfox.documentation.swagger.v2.path: /v1/api-docs
spring.jpa.hibernate.ddl-auto: none
spring:
  jpa:
    show-sql: true
---

spring.profiles: dev
