server.port: 5000

spring.datasource:
  tomcat:
    initial-size: 5
    time-between-eviction-runs-millis: 5000
    min-evictable-idle-time-millis: 5000
    min-idle: 5
    max-idle: 10
    max-active: 10
    remove-abandoned: true
    validation-query: select 1
    test-while-idle: true
    test-on-connect: false
    default-auto-commit: false

spring.jpa:
  hibernate.ddl-auto: none
  properties.hibernate.temp.use_jdbc_metadata_defaults: false
  properties.hibernate.dialect: org.hibernate.dialect.PostgreSQL94Dialect

logging.graylog.host: ""

springfox.documentation.swagger.v2.path: /api-docs

---

spring.profiles: junit

spring.jpa:
  show-sql: true


---

spring.profiles: dev

service: ndla-taxonomy-dev

---
spring.profiles: staging

service: ndla-taxonomy-staging

---
spring.profiles: production

service: ndla-taxonomy-prod

---
spring.profiles: test

service: ndla-taxonomy-test
