server.port: 5000

spring:
  datasource.name: jdbc:h2:mem:test;DB_CLOSE_DELAY=-1
  jpa:
    hibernate.ddl-auto: none
  liquibase:
    change-log: classpath:db-master-changelog.xml

logging.graylog.host: ""

springfox.documentation.swagger.v2.path: /api-docs

management:
  endpoints:
    web:
      exposure:
        include: health

ndla.taxonomy-metadata.url: http://taxonomy-metadata

---

spring:
  profiles:
    activate:
      on-profile: junit

logging.level:
  liquibase: WARN
  org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: WARN
  springfox.documentation.spring.web.readers.operation.CachingOperationNameGenerator: WARN




---

spring:
  profiles:
    activate:
      on-profile: dev

service: ndla-taxonomy-dev
ndla.taxonomy-metadata.url: http://taxonomy-metadata-api-dev

---
spring:
  profiles:
    activate:
      on-profile: staging

auth0:
  issuer: https://ndla-staging.eu.auth0.com/
  jwks.kid: NDFFOTUxMjQ1ODNDMTlBRkE0RkQ4NDc0RjUxNjUxREE0MTUyQTQ3NQ

service: ndla-taxonomy-staging
ndla.taxonomy-metadata.url: http://taxonomy-metadata-api-staging

---
spring:
  profiles:
    activate:
      on-profile: prod

auth0:
  issuer: https://ndla.eu.auth0.com/
  jwks.kid: OEI1MUU4ODk5NzM5MzI2MzZDODk1N0YwQzdDMDQyODVCQzQ3QTI0MA

service: ndla-taxonomy-prod
ndla.taxonomy-metadata.url: http://taxonomy-metadata-api-prod

---
spring:
  profiles:
    activate:
      on-profile: test

auth0:
  issuer: https://ndla-test.eu.auth0.com/
  jwks.kid: QzlEOTQ5M0NGMDk4NjExOEJGMjc2MjVFODhEQkE1NUI2NkE0RTQyRg

service: ndla-taxonomy-test
ndla.taxonomy-metadata.url: http://taxonomy-metadata-api-test
